@font-face { /*quando a fonte for baixada devo utilizar o font-face.*/

    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root{
    --fonte-android:'Android'
}
body{
    background-color: black;
}

section{
    background-color: rgb(27, 27, 27);
    width:350px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    height: 400px;
    line-height: 40px;
    border-radius: 10px;
    border-top-right-radius: 10px;
}
h1{
    font-family: var(--fonte-android);
    color: rgb(250, 248, 248);
    padding-bottom: 10px;
    font-size: 2em;
    color: #f60141;
}
p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    padding-bottom: 15px;
}
.botão{
    padding: 15px;
    text-decoration: none;
    background-color:transparent;
    transition-duration: .5s;
    border-radius: 10px;
}
.botão:hover{
    background-color: #d6325e;
    
}
a{
    text-decoration: none;
    color: white;
    
}
footer{
    color:white;
    font-size: 1em;
}
footer p{
    font-size: 1em;
    text-align: center;
}